<a href="https://colab.research.google.com/github/george-zakharov/ml_notebooks/blob/master/Boosting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Homework 6

Датасет: https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009

#### Light: 

решить задачу классификации на предложенном датасете с использованием Boosting моделей.



#### Pro: 

- нормализовать, стандартизовать датасет и применить техники работы с не сбалансированным датасетом;

- решить задачу классификации на предложенном датасете с использованием Boosting моделей..

# Load Libs

In [0]:
import pandas as pd

# Load dataset

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
#Loading dataset
wine = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ML/6/data/winequality-red.csv')

In [0]:
wine.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [0]:
# Check class balance
wine['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64