<a href="https://colab.research.google.com/github/wildautumnwind/ml_notebooks/blob/master/homework_titanic_knn_and_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Homework 2 Light: Titanic Dataset (KNN and Bayes)**

https://www.kaggle.com/c/titanic/data

# Load libs

In [0]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import BernoulliNB, ComplementNB, GaussianNB, MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.model_selection import KFold
import sklearn
import numpy as np
from google.colab import files
import pandas as pd
import matplotlib.pyplot as plt

# User defined functions

In [0]:
# Select best metrics from the given.
# Custom method for KNN
def select_best_metrics(X_train, y_train, X, y):
  best_metrics_selected = {}

  metrics = ['euclidean', 'manhattan', 'minkowski']
  weights = ['uniform', 'distance']
  k_nums = range(2, 100)
  best_accuracy = 0.0

  for weight in weights:
    for metric in metrics:
      for k_num in k_nums:  
        model = KNeighborsClassifier(n_neighbors = k_num, metric = metric, weights = weight)
        model.fit(X_train, y_train)

        y_pred = model.predict(X)
        current_accuracy = accuracy_score(y, y_pred)
        if current_accuracy > best_accuracy:
          best_accuracy = current_accuracy
          best_metrics_selected['metric'] = metric
          best_metrics_selected['n_neighbors'] = k_num
          best_metrics_selected['weights'] = weight

  return best_metrics_selected

In [0]:
# Fit models on Grid SearchCV
def grid_search_fitting(models, parameters, X_train, y_train, X_test, y_test): 
  scores = ['accuracy', 'precision', 'recall']
  
  for score in scores:
    clf = GridSearchCV(estimator = models, scoring = score, param_grid = parameters, cv = 5, iid = False)

    clf.fit(X_train, y_train)
    
    score_test = clf.best_estimator_.score(X_test, y_test) 
        

    print(score)
    print(clf.best_estimator_)
    print(clf.best_score_)
    print("\n")

  print('accuracy_on_test: ', score_test)
  print("\n")
  
  return clf

# Load dataset

In [3]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.6.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.9.11)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [4]:
file = files.upload()

Saving kaggle.json to kaggle.json

In [0]:
!mkdir ~/.kaggle
!mv kaggle.json ~/.kaggle

In [6]:
!kaggle competitions download -c titanic

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 22.5MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 24.6MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 2.80MB/s]

# Data exploration

In [0]:
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [8]:
# Test data (we will use it for prediction)
test.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [9]:
# Shape of the train dataset
train.shape

(891, 12)

In [10]:
# Train dataset info
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [11]:
# Describe train dataset
train.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [12]:
# Data for model training
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [13]:
# Check empty values
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# Features transformation

In [0]:
X = train.drop(['PassengerId','Survived', 'Name','Ticket', 'Cabin'], axis = 1)
y = train.Survived

In [0]:
X = X.fillna({'Age': X.Age.median()})

In [46]:
X.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    2
dtype: int64

In [0]:
MaxPassEmbarked = train.groupby('Embarked').count()['PassengerId']

In [48]:
MaxPassEmbarked

Embarked
C    168
Q     77
S    644
Name: PassengerId, dtype: int64

In [0]:
X = X.fillna({'Embarked': MaxPassEmbarked[MaxPassEmbarked == MaxPassEmbarked.max()].index[0]})

In [50]:
X.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [0]:
X = pd.get_dummies(X)

In [52]:
X.head()

   Pclass   Age  SibSp  Parch  ...  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0       3  22.0      1      0  ...         1           0           0           1
1       1  38.0      1      0  ...         0           1           0           0
2       3  26.0      0      0  ...         0           0           0           1
3       1  35.0      1      0  ...         0           0           0           1
4       3  35.0      0      0  ...         1           0           0           1

[5 rows x 10 columns]

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [54]:
print (X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(712, 10) (712,) (179, 10) (179,)

# Training

In [67]:
MultinomialNB_param = {'alpha': [1e-09, 1e-08, 1e-07, 1e-06, 1e-05, 1e-04, 1e-03, 0.01, 0.1, 0.2, 0.5, 0.75, 0.9, 1.0], 'fit_prior': ['True', 'False']}
grid_search_fitting(MultinomialNB(), MultinomialNB_param, X_train, y_train, X_test, y_test)

accuracy
MultinomialNB(alpha=1e-09, class_prior=None, fit_prior='True')
0.6825505929491545


precision
MultinomialNB(alpha=1e-09, class_prior=None, fit_prior='True')
0.6076733649545438


recall
MultinomialNB(alpha=1e-09, class_prior=None, fit_prior='True')
0.44388539482879114


accuracy_on_test:  0.7262569832402235

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=MultinomialNB(alpha=1.0, class_prior=None,
                                     fit_prior=True),
             iid=False, n_jobs=None,
             param_grid={'alpha': [1e-09, 1e-08, 1e-07, 1e-06, 1e-05, 0.0001,
                                   0.001, 0.01, 0.1, 0.2, 0.5, 0.75, 0.9, 1.0],
                         'fit_prior': ['True', 'False']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='recall', verbose=0)

In [68]:
GaussianNB_param = {'var_smoothing':  [1e-09, 1e-08, 1e-07, 1e-06, 1e-05, 1e-04, 1e-03, 0.01, 0.1, 0.2, 0.5, 0.75, 0.9, 1.0]}
grid_search_fitting(GaussianNB(), GaussianNB_param, X_train, y_train, X_test, y_test)

accuracy
GaussianNB(priors=None, var_smoothing=1e-05)
0.7934956862136964


precision
GaussianNB(priors=None, var_smoothing=0.0001)
0.7950187969924812


recall
GaussianNB(priors=None, var_smoothing=1e-09)
0.7049615653389238


accuracy_on_test:  0.776536312849162

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=GaussianNB(priors=None, var_smoothing=1e-09), iid=False,
             n_jobs=None,
             param_grid={'var_smoothing': [1e-09, 1e-08, 1e-07, 1e-06, 1e-05,
                                           0.0001, 0.001, 0.01, 0.1, 0.2, 0.5,
                                           0.75, 0.9, 1.0]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='recall', verbose=0)

In [69]:
ComplementNB_param = {'alpha': [1e-09, 1e-08, 1e-07, 1e-06, 1e-05, 1e-04, 1e-03, 0.01, 0.1, 0.2, 0.5, 0.75, 0.9, 1.0], 'fit_prior': ['True', 'False'], 'norm': ['True', 'False']}
grid_search_fitting(ComplementNB(), ComplementNB_param, X_train, y_train, X_test, y_test)

accuracy
ComplementNB(alpha=0.75, class_prior=None, fit_prior='True', norm='True')
0.6853673546511425


precision
ComplementNB(alpha=0.75, class_prior=None, fit_prior='True', norm='True')
0.5916489173112025


recall
ComplementNB(alpha=1e-09, class_prior=None, fit_prior='True', norm='True')
0.5336128581411601


accuracy_on_test:  0.7486033519553073

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=ComplementNB(alpha=1.0, class_prior=None, fit_prior=True,
                                    norm=False),
             iid=False, n_jobs=None,
             param_grid={'alpha': [1e-09, 1e-08, 1e-07, 1e-06, 1e-05, 0.0001,
                                   0.001, 0.01, 0.1, 0.2, 0.5, 0.75, 0.9, 1.0],
                         'fit_prior': ['True', 'False'],
                         'norm': ['True', 'False']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='recall', verbose=0)

In [70]:
BernoulliNB_param = {'alpha': [1e-09, 1e-08, 1e-07, 1e-06, 1e-05, 1e-04, 1e-03, 0.01, 0.1, 0.2, 0.5, 0.75, 0.9, 1.0], 
                     'binarize': [1e-09, 1e-08, 1e-07, 1e-06, 1e-05, 1e-04, 1e-03, 0.01, 0.1, 0.2, 0.5, 0.75, 0.9, 1.0],
                     'fit_prior': ['True', 'False']}
grid_search_fitting(BernoulliNB(), BernoulliNB_param, X_train, y_train, X_test, y_test)

accuracy
BernoulliNB(alpha=1e-09, binarize=0.9, class_prior=None, fit_prior='True')
0.7922158353084334


precision
BernoulliNB(alpha=1e-09, binarize=0.9, class_prior=None, fit_prior='True')
0.7418962523505939


recall
BernoulliNB(alpha=1e-09, binarize=0.9, class_prior=None, fit_prior='True')
0.6865828092243186


accuracy_on_test:  0.7877094972067039

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None,
                                   fit_prior=True),
             iid=False, n_jobs=None,
             param_grid={'alpha': [1e-09, 1e-08, 1e-07, 1e-06, 1e-05, 0.0001,
                                   0.001, 0.01, 0.1, 0.2, 0.5, 0.75, 0.9, 1.0],
                         'binarize': [1e-09, 1e-08, 1e-07, 1e-06, 1e-05, 0.0001,
                                      0.001, 0.01, 0.1, 0.2, 0.5, 0.75, 0.9,
                                      1.0],
                         'fit_prior': ['True', 'False']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='recall', verbose=0)

In [71]:
KNeighborsClassifier_param = {'metric': ['euclidean', 'manhattan', 'chebyshev', 'minkowski'],
                              'n_neighbors': [k for k in range (1, 11)],
                              'p': [p for p in range (1, 11, 2)]
                             }
grid_search_fitting(KNeighborsClassifier(), KNeighborsClassifier_param, X_train, y_train, X_test, y_test)

accuracy
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='manhattan',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=1,
                     weights='uniform')
0.7583915036117613


precision
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='manhattan',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=1,
                     weights='uniform')
0.762989875011989


recall
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='manhattan',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=1,
                     weights='uniform')
0.6308176100628932


accuracy_on_test:  0.7430167597765364

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid=False, n_jobs=None,
             param_grid={'metric': ['euclidean', 'manhattan', 'chebyshev',
                                    'minkowski'],
                         'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                         'p': [1, 3, 5, 7, 9]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='recall', verbose=0)

# Submission

In [75]:
y = train["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train[features])
X_test = pd.get_dummies(test[features])

model = BernoulliNB(alpha = 1.0, binarize = 0.0, class_prior = None, fit_prior = True)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': predictions})
output.to_csv('my_submission.csv', index = False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [76]:
!kaggle competitions submit -c titanic -f my_submission.csv -m "BernoulliNB submition from Colab"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
100% 2.77k/2.77k [00:04<00:00, 600B/s]
Successfully submitted to Titanic: Machine Learning from Disaster

https://www.kaggle.com/c/titanic/leaderboard#score

pos 7639

# Useful links

* https://kevinzakka.github.io/2016/07/13/k-nearest-neighbor/