<a href="https://colab.research.google.com/github/george-zakharov/ml_notebooks/blob/master/Logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Homework Energy Star Score

Датасет взят с сайта: https://www1.nyc.gov/html/gbee/html/plan/ll84_scores.shtml

### Light: 

- построить модель используя LinearRegression для предсказания энергопотребления зданий в Нью-Йорке;

- использовать инструметы нормализации/стандартизации признаков;

- использовать по крайней мере один из способов отбора признаков (см. блокнот с вебинара).

### Pro:

- построить модель используя LinearRegression, LinearSVR для предсказания энергопотребления зданий в Нью-Йорке;

- произвести нормализацию признаков в случае необходимости;

- использовать все инструменты для отбора признаков;

- ответить на вопрос: какие 5 признаков оказывают наибольшее влияние на целевой параметр 'ENERGY STAR Score'?

# Load libs

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.core.pylabtools import figsize
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# Загрузка и очистка данных

In [0]:
# Read in data into a dataframe 
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ML/4/Блокноты/Homework 4/Energy_and_Water_Data_Disclosure_for_Local_Law_84_2017__Data_for_Calendar_Year_2016_.csv')

In [0]:
# Display top of dataframe
data.head(3)

   Order  ...                                                NTA
0      1  ...  Turtle Bay-East Midtown                       ...
1      2  ...  Washington Heights South                      ...
2      3  ...  Washington Heights South                      ...

[3 rows x 60 columns]

## Типы данных и пропуски

In [0]:
# See the column data types and non-missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11746 entries, 0 to 11745
Data columns (total 60 columns):
Order                                                         11746 non-null int64
Property Id                                                   11746 non-null int64
Property Name                                                 11746 non-null object
Parent Property Id                                            11746 non-null object
Parent Property Name                                          11746 non-null object
BBL - 10 digits                                               11735 non-null object
NYC Borough, Block and Lot (BBL) self-reported                11746 non-null object
NYC Building Identification Number (BIN)                      11746 non-null object
Address 1 (self-reported)                                     11746 non-null object
Address 2                                                     11746 non-null object
Postal Code                                                   11746 non-null object
Street Number                                                 11622 non-null object
Street Name                                                   11624 non-null object
Borough                                                       11628 non-null object
DOF Gross Floor Area                                          11628 non-null float64
Primary Property Type - Self Selected                         11746 non-null object
List of All Property Use Types at Property                    11746 non-null object
Largest Property Use Type                                     11746 non-null object
Largest Property Use Type - Gross Floor Area (ft²)            11746 non-null object
2nd Largest Property Use Type                                 11746 non-null object
2nd Largest Property Use - Gross Floor Area (ft²)             11746 non-null object
3rd Largest Property Use Type                                 11746 non-null object
3rd Largest Property Use Type - Gross Floor Area (ft²)        11746 non-null object
Year Built                                                    11746 non-null int64
Number of Buildings - Self-reported                           11746 non-null int64
Occupancy                                                     11746 non-null int64
Metered Areas (Energy)                                        11746 non-null object
Metered Areas  (Water)                                        11746 non-null object
ENERGY STAR Score                                             11746 non-null object
Site EUI (kBtu/ft²)                                           11746 non-null object
Weather Normalized Site EUI (kBtu/ft²)                        11746 non-null object
Weather Normalized Site Electricity Intensity (kWh/ft²)       11746 non-null object
Weather Normalized Site Natural Gas Intensity (therms/ft²)    11746 non-null object
Weather Normalized Source EUI (kBtu/ft²)                      11746 non-null object
Fuel Oil #1 Use (kBtu)                                        11746 non-null object
Fuel Oil #2 Use (kBtu)                                        11746 non-null object
Fuel Oil #4 Use (kBtu)                                        11746 non-null object
Fuel Oil #5 & 6 Use (kBtu)                                    11746 non-null object
Diesel #2 Use (kBtu)                                          11746 non-null object
District Steam Use (kBtu)                                     11746 non-null object
Natural Gas Use (kBtu)                                        11746 non-null object
Weather Normalized Site Natural Gas Use (therms)              11746 non-null object
Electricity Use - Grid Purchase (kBtu)                        11746 non-null object
Weather Normalized Site Electricity (kWh)                     11746 non-null object
Total GHG Emissions (Metric Tons CO2e)                        11746 non-null object
Direct GHG Emissions (Metric Tons CO2e)                       11746 non-null object
Indirect GHG Emissions (Metric Tons CO2e)                     11746 non-null object
Property GFA - Self-Reported (ft²)                            11746 non-null int64
Water Use (All Water Sources) (kgal)                          11746 non-null object
Water Intensity (All Water Sources) (gal/ft²)                 11746 non-null object
Source EUI (kBtu/ft²)                                         11746 non-null object
Release Date                                                  11746 non-null object
Water Required?                                               11628 non-null object
DOF Benchmarking Submission Status                            11716 non-null object
Latitude                                                      9483 non-null float64
Longitude                                                     9483 non-null float64
Community Board                                               9483 non-null float64
Council District                                              9483 non-null float64
Census Tract                                                  9483 non-null float64
NTA                                                           9483 non-null object
dtypes: float64(6), int64(6), object(48)
memory usage: 5.4+ MB

## Конвертация данных

In [0]:
# Replace all occurrences of Not Available with numpy not a number
data = data.replace({'Not Available': np.nan})

# Iterate through the columns
for col in list(data.columns):
    # Select columns that should be numeric
    if ('ft²' in col or 'kBtu' in col or 'Metric Tons CO2e' in col or 'kWh' in 
        col or 'therms' in col or 'gal' in col or 'Score' in col):
        # Convert the data type to float
        data[col] = data[col].astype(float)

In [0]:
# Статистика каждого признака
data.describe()

              Order   Property Id  ...  Council District   Census Tract
count  11746.000000  1.174600e+04  ...       9483.000000    9483.000000
mean    7185.759578  3.642958e+06  ...         15.771275    4977.596647
std     4323.859984  1.049070e+06  ...         15.674375   13520.422990
min        1.000000  7.365000e+03  ...          1.000000       1.000000
25%     3428.250000  2.747222e+06  ...          4.000000     100.000000
50%     6986.500000  3.236404e+06  ...          9.000000     201.000000
75%    11054.500000  4.409092e+06  ...         33.000000     531.500000
max    14993.000000  5.991312e+06  ...         51.000000  155101.000000

[8 rows x 37 columns]

## Заполняем пропуски

In [0]:
# Function to calculate missing values by column
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [0]:
missing_values_table(data)

Your selected dataframe has 60 columns.
There are 46 columns that have missing values.

                                                    Missing Values  % of Total Values
Fuel Oil #1 Use (kBtu)                                       11737               99.9
Diesel #2 Use (kBtu)                                         11730               99.9
Address 2                                                    11539               98.2
Fuel Oil #5 & 6 Use (kBtu)                                   11152               94.9
District Steam Use (kBtu)                                    10810               92.0
Fuel Oil #4 Use (kBtu)                                       10425               88.8
3rd Largest Property Use Type - Gross Floor Are...           10262               87.4
3rd Largest Property Use Type                                10262               87.4
Fuel Oil #2 Use (kBtu)                                        9165               78.0
2nd Largest Property Use Type                                 8005               68.2
2nd Largest Property Use - Gross Floor Area (ft²)             8005               68.2
Metered Areas  (Water)                                        4609               39.2
Water Intensity (All Water Sources) (gal/ft²)                 3984               33.9
Water Use (All Water Sources) (kgal)                          3984               33.9
Latitude                                                      2263               19.3
Longitude                                                     2263               19.3
Community Board                                               2263               19.3
Council District                                              2263               19.3
Census Tract                                                  2263               19.3
NTA                                                           2263               19.3
ENERGY STAR Score                                             2104               17.9
Weather Normalized Site Natural Gas Intensity (...            1963               16.7
Weather Normalized Site Natural Gas Use (therms)              1962               16.7
Weather Normalized Source EUI (kBtu/ft²)                      1465               12.5
Weather Normalized Site EUI (kBtu/ft²)                        1465               12.5
Natural Gas Use (kBtu)                                        1442               12.3
Weather Normalized Site Electricity Intensity (...             787                6.7
Weather Normalized Site Electricity (kWh)                      786                6.7
Electricity Use - Grid Purchase (kBtu)                         244                2.1
Site EUI (kBtu/ft²)                                            163                1.4
Source EUI (kBtu/ft²)                                          163                1.4
NYC Building Identification Number (BIN)                       162                1.4
Street Number                                                  124                1.1
Street Name                                                    122                1.0
Borough                                                        118                1.0
DOF Gross Floor Area                                           118                1.0
Water Required?                                                118                1.0
Direct GHG Emissions (Metric Tons CO2e)                         83                0.7
Total GHG Emissions (Metric Tons CO2e)                          74                0.6
Indirect GHG Emissions (Metric Tons CO2e)                       65                0.6
Metered Areas (Energy)                                          57                0.5
DOF Benchmarking Submission Status                              30                0.3
NYC Borough, Block and Lot (BBL) self-reported                  11                0.1
BBL - 10 digits                                                 11                0.1
Largest Property Use Type                                        2                0.0
Largest Property Use Type - Gross Floor Area (ft²)               2                0.0

## Сохраним только те колонки, у которых менее 50 процентов пропусков

In [0]:
missing_df = missing_values_table(data);
missing_columns = list(missing_df[missing_df['% of Total Values'] > 50].index)
print('We will remove %d columns.' % len(missing_columns))

Your selected dataframe has 60 columns.
There are 46 columns that have missing values.
We will remove 11 columns.

In [0]:
# Drop the columns
data = data.drop(columns = list(missing_columns))

## Простой вариант предобработки данных

In [0]:
# Copy the original data
features = data.copy()

# Select the numeric columns
numeric_subset = data.select_dtypes('number')

# Create columns with log of numeric columns
for col in numeric_subset.columns:
    # Skip the Energy Star Score column
    if col == 'score':
        next
    else:
        numeric_subset['log_' + col] = np.log(numeric_subset[col])
        
# Select the categorical columns
categorical_subset = data[['Borough', 'Largest Property Use Type']]

# One hot encode
categorical_subset = pd.get_dummies(categorical_subset)

# Join the two dataframes using concat
# Make sure to use axis = 1 to perform a column bind
features = pd.concat([numeric_subset, categorical_subset], axis = 1)

features.shape

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:856: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:856: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

(11746, 116)

# Train test split

In [0]:
# Extract the buildings with no score and the buildings with a score
no_score = features[features['ENERGY STAR Score'].isna()]
score = features[features['ENERGY STAR Score'].notnull()]

print(no_score.shape)
print(score.shape)

(2104, 116)
(9642, 116)

In [0]:
# Separate out the features and targets
features = score.drop(columns='ENERGY STAR Score')
targets = pd.DataFrame(score['ENERGY STAR Score'])

# Replace the inf and -inf with nan (required for later imputation)
features = features.replace({np.inf: np.nan, -np.inf: np.nan})

# Split into 70% training and 30% testing set
X, X_test, y, y_test = train_test_split(features, targets, test_size = 0.3, random_state = 42)

print(X.shape)
print(X_test.shape)
print(y.shape)
print(y_test.shape)

(6749, 115)
(2893, 115)
(6749, 1)
(2893, 1)

In [0]:
# Function to calculate mean absolute error
def mae(y_true, y_pred):
    return np.mean(abs(y_true - y_pred))

In [0]:
baseline_guess = np.median(y)

print('The baseline guess is a score of %0.2f' % baseline_guess)
print("Baseline Performance on the test set: MAE = %0.4f" % mae(y_test, baseline_guess))

The baseline guess is a score of 65.00
Baseline Performance on the test set: MAE = 25.3519