<a href="https://colab.research.google.com/github/george-zakharov/ml_notebooks/blob/master/pet_finder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Homework 2 Pro: Pet Finder Dataset (binary classification)**

https://www.kaggle.com/c/petfinder-adoption-prediction/data

# Load libs

In [0]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import BernoulliNB, ComplementNB, GaussianNB, MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.model_selection import KFold
import sklearn
import numpy as np
from google.colab import files
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# Load dataset

In [0]:
df_train  = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ML/2/train.csv')
df_test   = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ML/2/test.csv')
labels_breed = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ML/2/breed_labels.csv')
labels_state = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ML/2/color_labels.csv')
labels_color = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ML/2/state_labels.csv')

# Data exploration

In [8]:
df_train.head(2)

   Type         Name  Age  ...      PetID  PhotoAmt  AdoptionSpeed
0     2       Nibble    3  ...  86e1089a3       1.0              2
1     2  No Name Yet    1  ...  6296e909a       2.0              0

[2 rows x 24 columns]

In [9]:
df_test.head(2)

   Type          Name  ...      PetID  PhotoAmt
0     2  Dopey & Grey  ...  e2dfc2935       2.0
1     2       Chi Chi  ...  f153b465f       1.0

[2 rows x 23 columns]

In [10]:
labels_breed.head(2)

   BreedID  Type      BreedName
0        1     1  Affenpinscher
1        2     1   Afghan Hound

In [11]:
labels_color.head(2)

   StateID StateName
0    41336     Johor
1    41325     Kedah

In [12]:
labels_state.head(2)

   ColorID ColorName
0        1     Black
1        2     Brown