<a href="https://colab.research.google.com/github/george-zakharov/ml_notebooks/blob/master/pet_finder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Homework 2 Pro: Pet Finder Dataset (binary classification)**

https://www.kaggle.com/c/petfinder-adoption-prediction/data

# Load libs

In [0]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import BernoulliNB, ComplementNB, GaussianNB, MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.model_selection import KFold
import sklearn
import numpy as np
from google.colab import files
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# Load dataset

In [0]:
df_train  = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ML/2/train.csv')
df_test   = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ML/2/test.csv')
labels_breed = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ML/2/breed_labels.csv')
labels_state = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ML/2/color_labels.csv')
labels_color = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ML/2/state_labels.csv')
df_train_full = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ML/2/train_full.csv')

# Data exploration

In [15]:
df_train.head()

   Type         Name  Age  ...      PetID  PhotoAmt  AdoptionSpeed
0     2       Nibble    3  ...  86e1089a3       1.0              2
1     2  No Name Yet    1  ...  6296e909a       2.0              0
2     1       Brisco    1  ...  3422e4906       7.0              3
3     1         Miko    4  ...  5842f1ff5       8.0              2
4     1       Hunter    1  ...  850a43f90       3.0              2

[5 rows x 24 columns]

In [16]:
df_test.head()

   Type                       Name  ...      PetID  PhotoAmt
0     2               Dopey & Grey  ...  e2dfc2935       2.0
1     2                    Chi Chi  ...  f153b465f       1.0
2     2                     Sticky  ...  3c90f3f54       4.0
3     1  Dannie & Kass [In Penang]  ...  e02abc8a3       5.0
4     2                    Cuddles  ...  09f0df7d1       5.0

[5 rows x 23 columns]

In [17]:
labels_breed.head()

   BreedID  Type         BreedName
0        1     1     Affenpinscher
1        2     1      Afghan Hound
2        3     1  Airedale Terrier
3        4     1            Akbash
4        5     1             Akita

In [18]:
labels_color.head()

   StateID     StateName
0    41336         Johor
1    41325         Kedah
2    41367      Kelantan
3    41401  Kuala Lumpur
4    41415        Labuan

In [19]:
labels_state.head()

   ColorID ColorName
0        1     Black
1        2     Brown
2        3    Golden
3        4    Yellow
4        5     Cream

In [14]:
df_train_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14993 entries, 0 to 14992
Data columns (total 27 columns):
Unnamed: 0                    14993 non-null int64
Type                          14993 non-null int64
Name                          13736 non-null object
Age                           14993 non-null int64
Breed1                        14993 non-null int64
Breed2                        14993 non-null int64
Gender                        14993 non-null int64
Color1                        14993 non-null int64
Color2                        14993 non-null int64
Color3                        14993 non-null int64
MaturitySize                  14993 non-null int64
FurLength                     14993 non-null int64
Vaccinated                    14993 non-null int64
Dewormed                      14993 non-null int64
Sterilized                    14993 non-null int64
Health                        14993 non-null int64
Quantity                      14993 non-null int64
Fee                           14993 non-null int64
State                         14993 non-null int64
RescuerID                     14993 non-null object
VideoAmt                      14993 non-null int64
Description                   14981 non-null object
PetID                         14993 non-null object
PhotoAmt                      14993 non-null float64
AdoptionSpeed                 14993 non-null int64
AdoptionSpeed_binary          14993 non-null int64
AdoptionSpeed_four_classes    14993 non-null int64
dtypes: float64(1), int64(22), object(4)
memory usage: 3.1+ MB

# Notes

Для датасета https://www.kaggle.com/c/petfinder-adoption-prediction выполнить предобработку признаков и построить оптимальные модели kNN и все типы классификаторов Байеса. Для перебора параметров можно использовать метод GridSearch